*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(121,58,9,1) 100%, rgba(0,212,255,1) 100%);
}
.titulo{
  text-align: center;
  font-size: 80px;
  font-family: "Montserrat";
  margin-top: 0px;
  color: white;
}

.titulo span{
  color: #e91e63;

}
.slider-box {
  width: 1280px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation:  slide 20s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 250px;
  color: #ffff;
}

.texto h2{
  font-size: 45px;
  margin-bottom: 35px;
}

.slider-box img{
  width: 100%;
}

@keyframes slide {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

}


.formulario{
  height: 400px;
  margin: 500px ;
  margin-top: 20px;
  margin-bottom: 50px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.formulario h3 {
  color: white;
}

.estiloBoton{
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.estiloBoton:hover {
  background-color: #45a049;
}

.estiloBoton:active{
  background-color: #3e8e41;
}